*
{
  margin: 0;
  padding: 0;
}

/* header
{
  background-image: url(PinClipartPc.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: bisque;
} */

.container {
  /* display: inline-block; */
  position: relative;
  /* height: 100%;
  width: 100%; */
  text-align: center;
}

.image {
  height: 100%;
  width: 100%;
  background-color: bisque;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  margin: 0px;
  top: 7%;
  left: 23%;
}

.num {
  font-size: 70px;
}

h1
{
  color: BlanchedAlmond;
  text-align: center;
  font-family: sans-serif;
  font-size: 3vw;
  position: absolute;
  top: 20%;
  left: 30%;
}

p
{
  color: BlanchedAlmond;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6vw;
  position: absolute;
  top: 30%;
  left: 30%;
}

.projects
{
  color: BlanchedAlmond;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3vw;
  position: absolute;
  top: 30%;
  left: 25%;
}

.main-nav
{
  /* text-align: center; */
  list-style: none;
  /* margin-top: 5px;
  margin-right: 5px;
  padding: 30px; */
  font-family: sans-serif;
  font-size: 1.7vw;
  position: absolute;
  top: 10%;
  left: 20%;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  /*padding: 5px 20px;*/
  padding-left: 45px;
  font-family: sans-serif;
  font-size: 1.7vw;
  top: 10%;
  left: 20%;
}

.wrapper {
  text-align: center;

}

/* Power Button */
.button1 {
  /*make the button oval-shaped*/
  border-radius: 50%;
  background-color: springgreen;
  /*place the button on another layer, specify the coordinates*/
  position: absolute;
  top: 55%;
  left: 80%;
  padding: 5px;
  font-family: sans-serif;
  font-size: 2vw;
}

.entermemes {
  color: BlanchedAlmond;
  /* text-align: center; */
  font-family: sans-serif;
  font-size: 1.5vw;
  /* position: absolute; */
  top: 30%;
  left: 30%;
}
/* Meme Generator Button */
.button2 {
  position: absolute;
  top: 37%;
  left: 40%;
  padding: 3px;
  font-family: sans-serif;
  font-size: 1.2vw;
}
